<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="client_id" value="69c306c9-5a27-418e-afdc-49d2e63fa053" />
    <add key="client_secret" value="P7%ra!wA$6#!0j!V6TZQ" />
    <add key="redirect_uri" value="http://localhost:5443/Callback" />
    <add key="return_url" value="/connect/authorize/callback" />
    <add key="response_type" value="code" />
    <add key="scope" value="openid" />
    <add key="authorization_endpoint" value="https://identity-dev.sikur.com/Account/Login" />
    <add key="token_endpoint" value="" />
    <add key="logout_endpoint" value="" />
    <add key="revocation_endpoint" value="" />
    <add key="jwks_uri" value="https://auth.bankid.no/auth/realms/prod/protocol/openid-connect/certs" />
    <add key="issuer" value="https://identity-dev.sikur.com" />
    <add key="api_endpoint" value="https://localhost:3000" />
    <add key="base_url" value="http://localhost:5443" />
  </appSettings>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>
<!--https://curity.io/resources/learn/dotnet-openid-connect-client/-->